<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>
   
    <body>
            
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                              <li class="nav-item"> 
                                    <a class="navbar-brand" href="#">Design Register</a> 
                              </li>        
                              <li class="nav-item active">
                              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                              </li>
                              <% if(!currentUser){%>
                              <li class="nav-item">
                              <a class="nav-link" href="/login" >Login</a>   
                              </li>
                              <li class="nav-item">
                                    <a href="/register" class="nav-link">Sign Up</a>   
                              </li>
                              <li class="nav-item pl-3">
                                          <a class="btn btn-warning" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" >
                                                <i class="fas fa-search" ></i>   <strong >SEARCH</strong> 
                                          </a>   
                                          <div class="collapse" id="collapseExample">
                                                      <form class="form-inline" action="/designs" method="GET">
                                                                
                                                            <div class="form-group">
                                                                  <div id="form-search-input">
                                                                        <label id="label-search">Region</label>
                                                                        <select class="form-control" name="region" >
                                                                              <option value="">Region</option>
                                                                              <option value="UK">UK</option>
                                                                              <option value="China">China</option>
                                                                              <option value="Usa">USA</option>
                                                                        </select> 
                                                                  </div>       
                                                            </div>
                                                            <div class="form-group">
                                                                  <div id="form-search-input">
                                                                        <label id="label-search">Sharepoint ID</label>
                                                                        <input type="number" class="form-control" name="sharepointid" placeholder="Sharepoint id">
                                                                  </div> 
                                                            </div> 
                                                         
                                                                 
                                                            <div class="form-group">
                                                                  <div id="form-search-input">
                                                                        <label id="label-search">Design id</label>    
                                                                        <input type="text" class="form-control" name="designid" placeholder="Design id"> 
                                                                  </div>
                                                            </div>       
                                                            <div class="form-group">
                                                                  <div id="form-search-input">
                                                                        <label id="label-search">SAP number</label>    
                                                                        <input type="text" class="form-control" name="sapnum" placeholder="SAP number">  
                                                                  </div>   
                                                            </div>
                                                      
                                                            <div class="form-group" >
                                                                  <div id="form-search-input">
                                                                        <label id="label-search">Sales order number</label>
                                                                        <input type="number" class="form-control" name="so" placeholder="SO number">  
                                                                  </div>
                                                            </div>
                                                           
                                                            <div class="form-group">
                                                                  <div id="form-search-input">
                                                                        <label id="label-search">Type</label>
                                                                        <select class="form-control"  name="type">
                                                                                <option value="">Choose a type...</option>
                                                                                <option value="Standard">Standard system</option>
                                                                                <option value="Special">Special system</option>
                                                                        </select>
                                                                  </div>          
                                                            </div>  
                                                            <div class="form-group">
                                                                  <div id="form-search-input">
                                                                        <label id="label-search">Head type</label>    
                                                                        <input type="text" class="form-control" name="headtype" placeholder="Head type"> 
                                                                  </div>        
                                                            </div>  
                                                            <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">Aperture width</label>    
                                                                              <input type="number" class="form-control" name="apwidth" placeholder="Aperture width">
                                                                        </div> 
                                                            </div>
                                                            <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">Aperture height</label>    
                                                                              <input type="number" class="form-control" name="apheight" placeholder="Aperture height">
                                                                        </div> 
                                                            </div> 
                                                            <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">System type</label> 
                                                                              <select class="form-control" name="systemtype">
                                                                                    <option value="">Choose a system type...</option>
                                                                                    <option value="Series 80">Series 80</option>
                                                                                    <option value="Series 200">Series 200</option>
                                                                              </select>
                                                                        </div>      
                                                            </div>
                                                            <div class="form-group">
                                                                  <div id="form-search-input">
                                                                        <label id="label-search">Reject system</label> 
                                                                            <select class="form-control" name="reject">
                                                                                <option value="">Choose a reject system...</option>
                                                                                <option value="Stop alarm">Stop Alarm</option>
                                                                                <option value="Air blast md">Air blast MD</option>
                                                                                <option value="Air blast hd">Air blast HD</option>
                                                                                <option value="Punch push">Punch/Push</option>
                                                                                <option value="Overhead sweep">Overhead sweep</option>
                                                                                <option value="Retracting band">Retracting band</option>
                                                                                <option value="Lift flap">Lift flap</option>
                                                                                <option value="Drop flap">Drop flap</option>
                                                                                <option value="Special reject">Other (specify on "notes" area)</option>
                                                                            </select>
                                                                  </div>          
                                                            </div>          
                                                            <div class="form-group">
                                                                  <div id="form-search-input">
                                                                        <label id="label-search">Conveyor infeed height</label>    
                                                                        <input type="number" class="form-control" name="convinheight" placeholder="Conveyor infeed height"> 
                                                                  </div>
                                                            </div>   
                                                            <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">Conveyor outfeed height</label>    
                                                                              <input type="number" class="form-control" name="convoutheight" placeholder="Conveyor outfeed height"> 
                                                                        </div>
                                                            </div> 
                                                            <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">Conveyor length</label>    
                                                                              <input type="number" class="form-control" name="convlength" placeholder="Conveyor length"> 
                                                                        </div>
                                                            </div>   
                                                            <div class="form-group">
                                                                  <div id="form-search-input">
                                                                        <label id="label-search">Handing</label>    
                                                                        <select class="form-control" name="handing">
                                                                                <option value="">Choose a handing...</option>
                                                                                <option value="left hand">Left hand</option>
                                                                                <option value="right hand">Right hand</option>
                                                                        </select> 
                                                                  </div>      
                                                            </div> 
                                                            <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">Belt type</label>    
                                                                              <input type="text" class="form-control" name="belttype" placeholder="Belt type"> 
                                                                        </div>
                                                            </div>                       
                                                            <div class="form-group">
                                                                  <div id="form-search-input">
                                                                        <label id="label-search">MO agent</label>
                                                                        <input type="text" class="form-control" name="moagent" placeholder="MO agent">
                                                                  </div>
                                                            </div> 
                                                            <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">End User</label>
                                                                              <input type="text" class="form-control" name="enduser" placeholder="End user">
                                                                        </div>
                                                            </div>  
                                                            <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">Product</label>
                                                                              <input type="text" class="form-control" name="product" placeholder="Product">
                                                                        </div>
                                                            </div>    
                                                            <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">Packaging</label>
                                                                              <input type="text" class="form-control" name="packaging" placeholder="Packaging">
                                                                        </div>
                                                            </div>
                                                            <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">Notes</label>
                                                                              <input type="text" class="form-control" name="notes" placeholder="Notes">
                                                                        </div>
                                                            </div>
                                                            <!-- <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">Date</label>
                                                                              <input type="text" class="form-control" name="date" placeholder="Date">
                                                                        </div> 
                                                            </div> -->
                                                            <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">Engineer</label>
                                                                              <input type="text" class="form-control" name="engineer" placeholder="Engineer">
                                                                        </div>
                                                            </div>
                                                            <div class="form-group">
                                                                  <div id="form-search-input">

                                                                              <label id="label-search">Click to search</label> 
                                                                         <input type="submit"  class="btn btn-outline-warning btn-lg btn-block" value="Search">
                                                                        
                                                                  </div>       
                                                            </div>      
                                                                   
                                                      </div> 
                                                   </div>       
                                                      </form> 
                                                      </div>
                                                      
                                                      
                                                </div> 
                                          </div> 
                                                           
                                          
                                    </li> 
                              <% } else { %>
                              <li class="nav-item">
                                    <a href="/designs/new" class="nav-link">New Design</a>   
                              </li>
                              <li class="nav-item">
                                    <a href="/logout" class="nav-link">Logout</a> 
                              </li>
                              
                              <li class="nav-item pl-3">
                                    <a class="btn btn-warning" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" >
                                          <i class="fas fa-search" ></i>   <strong >SEARCH</strong> 
                                    </a>
                                    <div class="collapse" id="collapseExample">
                                          <div class="form-inline">  
                                                      <form class="form-inline" action="/designs" method="GET">
                                                                
                                                            <div class="form-group">
                                                                  <div id="form-search-input">
                                                                        <label id="label-search">Region</label>
                                                                        <select class="form-control" name="region" >
                                                                              <option value="">Region</option>
                                                                              <option value="UK">UK</option>
                                                                              <option value="China">China</option>
                                                                              <option value="Usa">USA</option>
                                                                        </select> 
                                                                  </div>       
                                                            </div>
                                                            <div class="form-group">
                                                                  <div id="form-search-input">
                                                                        <label id="label-search">Sharepoint ID</label>
                                                                        <input type="number" class="form-control" name="sharepointid" placeholder="Sharepoint id">
                                                                  </div> 
                                                            </div> 
                                                         
                                                                 
                                                            <div class="form-group">
                                                                  <div id="form-search-input">
                                                                        <label id="label-search">Design id</label>    
                                                                        <input type="text" class="form-control" name="designid" placeholder="Design id"> 
                                                                  </div>
                                                            </div>       
                                                            <div class="form-group">
                                                                  <div id="form-search-input">
                                                                        <label id="label-search">SAP number</label>    
                                                                        <input type="text" class="form-control" name="sapnum" placeholder="SAP number">  
                                                                  </div>   
                                                            </div>
                                                      
                                                            <div class="form-group" >
                                                                  <div id="form-search-input">
                                                                        <label id="label-search">Sales order number</label>
                                                                        <input type="number" class="form-control" name="so" placeholder="SO number">  
                                                                  </div>
                                                            </div>
                                                           
                                                            <div class="form-group">
                                                                  <div id="form-search-input">
                                                                        <label id="label-search">Type</label>
                                                                        <select class="form-control"  name="type">
                                                                                <option value="">Choose a type...</option>
                                                                                <option value="Standard">Standard system</option>
                                                                                <option value="Special">Special system</option>
                                                                        </select>
                                                                  </div>          
                                                            </div>  
                                                            <div class="form-group">
                                                                  <div id="form-search-input">
                                                                        <label id="label-search">Head type</label>    
                                                                        <input type="text" class="form-control" name="headtype" placeholder="Head type"> 
                                                                  </div>        
                                                            </div>  
                                                            <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">Aperture width</label>    
                                                                              <input type="number" class="form-control" name="apwidth" placeholder="Aperture width">
                                                                        </div> 
                                                            </div>
                                                            <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">Aperture height</label>    
                                                                              <input type="number" class="form-control" name="apheight" placeholder="Aperture height">
                                                                        </div> 
                                                            </div> 
                                                            <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">System type</label> 
                                                                              <select class="form-control" name="systemtype">
                                                                                    <option value="">Choose a system type...</option>
                                                                                    <option value="Series 80">Series 80</option>
                                                                                    <option value="Series 200">Series 200</option>
                                                                              </select>
                                                                        </div>      
                                                            </div>
                                                            <div class="form-group">
                                                                  <div id="form-search-input">
                                                                        <label id="label-search">Reject system</label> 
                                                                            <select class="form-control" name="reject">
                                                                                <option value="">Choose a reject system...</option>
                                                                                <option value="Stop alarm">Stop Alarm</option>
                                                                                <option value="Air blast md">Air blast MD</option>
                                                                                <option value="Air blast hd">Air blast HD</option>
                                                                                <option value="Punch push">Punch/Push</option>
                                                                                <option value="Overhead sweep">Overhead sweep</option>
                                                                                <option value="Retracting band">Retracting band</option>
                                                                                <option value="Lift flap">Lift flap</option>
                                                                                <option value="Drop flap">Drop flap</option>
                                                                                <option value="Special reject">Other (specify on "notes" area)</option>
                                                                            </select>
                                                                  </div>          
                                                            </div>          
                                                            <div class="form-group">
                                                                  <div id="form-search-input">
                                                                        <label id="label-search">Conveyor infeed height</label>    
                                                                        <input type="number" class="form-control" name="convinheight" placeholder="Conveyor infeed height"> 
                                                                  </div>
                                                            </div>   
                                                            <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">Conveyor outfeed height</label>    
                                                                              <input type="number" class="form-control" name="convoutheight" placeholder="Conveyor outfeed height"> 
                                                                        </div>
                                                            </div> 
                                                            <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">Conveyor length</label>    
                                                                              <input type="number" class="form-control" name="convlength" placeholder="Conveyor length"> 
                                                                        </div>
                                                            </div>   
                                                            <div class="form-group">
                                                                  <div id="form-search-input">
                                                                        <label id="label-search">Handing</label>    
                                                                        <select class="form-control" name="handing">
                                                                                <option value="">Choose a handing...</option>
                                                                                <option value="left hand">Left hand</option>
                                                                                <option value="right hand">Right hand</option>
                                                                        </select> 
                                                                  </div>      
                                                            </div> 
                                                            <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">Belt type</label>    
                                                                              <input type="text" class="form-control" name="belttype" placeholder="Belt type"> 
                                                                        </div>
                                                            </div>                       
                                                            <div class="form-group">
                                                                  <div id="form-search-input">
                                                                        <label id="label-search">MO agent</label>
                                                                        <input type="text" class="form-control" name="moagent" placeholder="MO agent">
                                                                  </div>
                                                            </div> 
                                                            <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">End User</label>
                                                                              <input type="text" class="form-control" name="enduser" placeholder="End user">
                                                                        </div>
                                                            </div>  
                                                            <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">Product</label>
                                                                              <input type="text" class="form-control" name="product" placeholder="Product">
                                                                        </div>
                                                            </div>    
                                                            <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">Packaging</label>
                                                                              <input type="text" class="form-control" name="packaging" placeholder="Packaging">
                                                                        </div>
                                                            </div>
                                                            <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">Notes</label>
                                                                              <input type="text" class="form-control" name="notes" placeholder="Notes">
                                                                        </div>
                                                            </div>
                                                            <!-- <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">Date</label>
                                                                              <input type="text" class="form-control" name="date" placeholder="Date">
                                                                        </div> 
                                                            </div> -->
                                                            <div class="form-group">
                                                                        <div id="form-search-input">
                                                                              <label id="label-search">Engineer</label>
                                                                              <input type="text" class="form-control" name="engineer" placeholder="Engineer">
                                                                        </div>
                                                            </div>
                                                            <div class="form-group">
                                                                  <div id="form-search-input">

                                                                              <label id="label-search">Click to search</label> 
                                                                         <input type="submit"  class="btn btn-outline-warning btn-lg btn-block" value="Search">
                                                                        
                                                                  </div>       
                                                            </div>      
                                                                   
                                                      </div> 
                                                   </div>       
                                                      </form> 
                                                
                                          </div>              
                                    </div>
                              </li> 
                        </ul> 
                        <div>     
                        <span class="navbar-text">
                              Signed In As : <strong> <%= currentUser.username %>  </strong> 
                        </span>
                        </div>

                        <% }%>
                </div>                  
             </nav> 
             
            

         
            



