

#logomettler {
    padding-left: 5;
}

#form-designs {
    padding-top: 50;
}

.form-group {
    padding-top: 5;
}

#card-index {
    max-width: 28rem;
    min-width: 28rem;
    
}

#index-container {
    padding-left: 53;
    padding-top: 20;
}

#card-header {
    font-weight: bold;
    color:dimgrey ;
    
}

#search-field {
    padding: 10px;
}

#label-search {
    color: darkgrey;
    padding-bottom: 3px;
}

#form-search-input {
    padding: 10px;
}

#logo-text {
    /* font-family: 'Orbitron', sans-serif; */
    font-size: 20;

}