<% include .././partials/header %>
<div class="container">
    <div class="jumbotron">
         <div class="display-3">Add new design</div>
         <form action="/designs" method="POST">
             <div class="form-group" >
                <label>Sharepoint ID</label>
                <input type="text" class="form-control" name="design[sharepointid]" placeholder="Sharepoint ID">
             </div>
             <div class="form-group">
                <label>Type</label>
                <input type="text" class="form-control" name="design[type]" placeholder="Type">
            </div>    
            <div class="form-group">
                <label>MO agent</label>
                <input type="text" class="form-control" name="design[moagent]" placeholder="MO agent">
            </div>
            <div class="form-group">
                <label>End user</label>    
                <input type="text" class="form-control" name="design[enduser]" placeholder="End user">
            </div>
            <div class="form-group">
                <label>System type</label> 
                    <select class="form-control" name="design[systemtype]">
                        <option value="">System Type</option>
                        <option value="Series 80">Series 80</option>
                        <option value="Series 200">Series 200</option>
                    </select>   
                <!-- <input type="text" name="design[systemtype]" placeholder="System type"> -->
            </div>
            <div class="form-group">
                <label>Notes</label>    
                <textarea class="form-control" name="design[notes]"></textarea>
            </div>
            <div class="form-group">
                <label>Date</label>    
                <input type="date" class="form-control" name="design[date]" placeholder="Date">
            </div>
            <div class="form-group">
                <label>Engineer</label>    
                <input type="text" class="form-control" name="design[Engineer]" placeholder="Engineer">
            </div>
            <div class="form-group">
                <label>Head type</label>    
                <input type="text" class="form-control" name="design[headtype]" placeholder="Head type">
            </div>
            <div class="form-group">
                <label>Aperture width</label>    
                <input type="text" class="form-control" name="design[apwidth]" placeholder="Aperture width">
            </div>
            <div class="form-group">
                <label>Aperture height</label>    
                <input type="text" class="form-control" name="design[apheight]" placeholder="Aperture height">
            </div>
            <div class="form-group">
                <label>Conveyor height</label>    
                <input type="text" class="form-control" name="design[convheight]" placeholder="Conveyor height">
             </div>   
            <div class="form-group">
                <label>Conveyor length</label>    
                <input type="text" class="form-control" name="design[convlength]" placeholder="Conveyor length">
            </div>    
            <div class="form-group">
                <label>Handing</label>    
                <input type="text" class="form-control" name="design[handing]" placeholder="Handing">
             </div>   
            <div class="form-group">
                <label>Belt type</label>    
                <input type="text" class="form-control" name="design[belttype]" placeholder="Belt type">
             </div>   
            <div class="form-group">
                <label>Product</label>    
                <input type="text" class="form-control" name="design[product]" placeholder="Product">
            </div>    
            <div class="form-group">
                <label>Packaging</label>    
                <input type="text" class="form-control" name="design[packaging]" placeholder="Packaging">
             </div>   
            <div class="form-group">
                <label>Design id</label>    
                <input type="text" class="form-control" name="design[designid]" placeholder="Design id">
             </div>   
            <div class="form-group">
                <label>SAP number</label>    
                <input type="text" class="form-control" name="design[sapnum]" placeholder="SAP number">
             </div>  
              
            <div class="form-group">
                <button>SAVE</button>
            </div>     
         </form>
    </div>
</div>    
    
<% include .././partials/footer %>    